.group-container {
    height: 300px; 


  }
  
  .group-content {
    overflow-y: scroll;
    height: 100%; 
  }
  .group-options{
    background-color: #f7fafc!important;
    z-index: 9999 !important;

  }
  .admin{
    background-color: rgb(179, 179, 223) !important;
   
  }